.sosmed {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.sosmed-item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 20px;
    height: 50px;
}
  
.sosmed-anchor:hover {
    background-color: rgba(240, 248, 255, 0.679);
    border-radius: 20px;
}
  
.sosmed-item > img {
    width: 50px;
}
  
.sosmed-item p {
    text-align: center;
    width: 100%;
}

a.sosmed-anchor {
    width: 50%;
    height: 70px;
}