/* @keyframes slide {
    from {
      transform: translate(0);
    } 
    to {
      transform: translate(-100%);
    }
} */

@keyframes slide {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-150px * 15))}
}

@keyframes slide-others {
  0% { transform: translateX(0); }
	100% { transform: translateX(calc(-150px * 5))}
}


@keyframes slide-forward {
  0% { transform: translateX(calc(-150px * 7)); }
	100% { transform: translateX(calc(150px * -1)); }
}

@keyframes pulse {
    0% {
          box-shadow: 0 0 0px 0 rgba(179,255,179, 0.7);
      }
  
      60% {
          box-shadow: 0 0 90px 10px rgba(179, 255, 179, 0);
      }
  
      100% {
          box-shadow: 0 0 0px 0 rgba(179, 255, 179, 0);
      }
  }