nav {
    padding: 10px;
    display: flex;
    align-items: center;
    background: rgba(0,0,0,0.0);
    position: fixed;
    z-index: 100;
    width: 100%;
}

#navbar.black-background {
    background-color: #0a061d !important; 
}

nav > a {
    text-decoration: none;
    margin-left: 30px;
    color: white;
    font-size: 24px;
}
  
nav > h1 {
    color: white;
    font-size: 40px;
}